h1 {
    color: rgb(147, 194, 248);
    margin-left: 10px;
    margin-bottom: 1px;
    text-align: left;
    margin-left: 60px;
}

body {
    text-align: center;
}


.positive {
    color: blue ;
}

td {
    color: blue;
    padding: 5px;
    text-align: left;
}

th {
    text-align: left;
}

.negative {
    color: red;
}

table {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-collapse: collapse;
    width: 90%;


}

table tr:nth-child(even) {
    background-color: rgb(204, 204, 204);
}