.contingut {
    background-color: white;
    margin-left: 20px;
    margin-right: 50%;
    box-shadow: 5px 5px 5px 5px rgb(187, 187, 187);
    border-radius: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

body {
    background-color: rgb(61, 200, 255);
}


.grey {
    background-color: rgb(230, 225, 225);
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}

.tot { 
    background-color: white;
    margin: 3%;
    padding: 10px;
}

.text, h1 {
    margin-left: 20px;
}

table{
    border:solid 1px;
    border-collapse: collapse;
    margin: 20px;
}

th {
    border:solid 1px;
    border-collapse: collapse;
    border-color: black;
    background-color: rgb(68, 66, 66);
    color: white;
    padding: 10px;

}

td,tr {
    border:solid 1px;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;


}

tr:nth-child(odd) {
    background-color: rgb(231, 233, 231) ; 
}