.contingut {
    background-color: white;
    margin-left: 20px;
    margin-right: 50%;
    box-shadow: 5px 5px 5px 5px rgb(187, 187, 187);
    border-radius: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

body {
    background-color: rgb(61, 200, 255);
}


.grey {
    background-color: rgb(230, 225, 225);
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    padding-bottom: 5px;

}

.tot { 
    background-color: white;
    margin: 3%;
    padding: 10px;
}