h1 {
    color: rgb(147, 194, 248);
    margin-left: 10px;

    margin-bottom: 1px;
}

h2 {
    color: rgb(128, 127, 129);
    margin-top: 1px;
    margin-left: 10px;

}
body {
    background-color: antiquewhite;
}


td,tr {

    padding: 10px;
}
table {
    background-color: rgb(156, 154, 154);
    margin-left: 10px;
}

table tr:nth-child(even) {
    background-color: rgb(204, 204, 204);
}